* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.togller_cover {
  position: relative;
  left: 110px;
  top: 70vh;
}

.sidebar {
  background-color: #999;
  position: fixed;
  height: 100vh;
  top: 0;
  left: -120px;
  z-index: 1;
  transition: 1s;
}

.sidebar.active {
  left: 0;
  z-index: 1;
}

.arrow {
  font-size: 3rem !important;
}
