@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.togller_cover {
  position: relative;
  left: 200px;
  top: 70vh;
  background-color: rgb(19, 204, 19);
  width: 50px;
  display: flex;
  justify-content: flex-end;
  border-radius: 0 40% 40% 0;
}

.sidebar {
  background-color: #fff;
  width: 200px;
  position: fixed;
  height: 100vh;
  top: 0;
  left: -200px;
  z-index: 1;
  transition: 1s;
  border-right: 1px solid rgba(153, 153, 153, 0.205);
}

.sidebar a {
  text-decoration: none;
  display: block;
  margin-left: 10px;
}

.sidebar .logo {
  color: rgb(102, 102, 102);
  font-size: 50px;
  position: relative;
  top: -40px;
  font-family: 'Lobster', cursive;
  left: 10px;
}

.sidebar .logo:hover {
  color: #000;
}

.sidebar.active {
  left: 0;
  z-index: 1;
}

.sidebar .arrow {
  font-size: 3rem !important;
  color: #fff;
  cursor: pointer;
}

.sidebar .menu_items {
  font-size: 20px;
  margin: 10px 0;
  color: #000;
  padding: 10px;
}

.sidebar .menu_items.active {
  background-color: rgb(19, 204, 19);
  color: #fff;
}

.sidebar .signout_cover input {
  display: flex;
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(19, 204, 19);
  font-size: 20px;
  margin: 50px 10px;
  width: 95%;
  cursor: pointer;
  background-color: transparent;
  font-weight: 900;
  padding: 10px;
}

.sidebar .signout_cover input:hover {
  background-color: rgb(19, 204, 19);
  color: #fff;
}
